@import '../../../app.scss';

.form {
    width: 100%;

    h2 {
        color: $colorA;
        text-align: center;
        margin-top: 2rem;
        font-size: 2rem;
    }

    .formVew {
        display: flex;
        justify-content: space-around;
        align-items: center;

        margin-top: 2rem;

        .imgForm {
            width: 40%;
            border-radius: 12px;
            box-shadow: 1px 1px 10px;
        }

        .formContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            border: solid 2px $colorA;
            border-radius: 12px;
            padding: 1rem;
            background-color: $colorC;
            width: 35%;

            .formSection {
                display: flex;
                flex-direction: column;
                width: 100%;

                input {
                    width: 100%;
                    border-radius: 6px;
                    border: solid 2px $colorC;
                    height: 30px;
                    padding: 12px;
                }

                textarea {
                    border-radius: 6px;
                    border: solid 2px $colorC;
                    padding: 12px;
                    resize: none;
                }
            }

            .btnForm {
                width: 60px;
                height: 30px;
                width: 60%;
                border-radius: 6px;
                border: solid 2px $colorC;
                cursor: pointer;
                transition: .3s;

                &:hover {
                    background-color: $colorA;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .formVew {
        flex-direction: column;
        padding: 0 10px;
        
        .imgForm {
           width: 100% !important;
           margin-bottom: 2rem;
        }
    }

    .formContainer {
        width: 100% !important;
    }
}