@import '../../app.scss';

.footer {
    width: 100%;
    height: 100%;
    background-color: $colorA;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .footerUp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        .footSocials {
            margin-top: 1rem;
            min-height: 60px;
            border: solid 2px $colorB;
            border-radius: 6px;
            padding: 12px;

            display: flex;
            align-items: center;
            justify-content: space-around;

            .facebook {
                background-image: url('../../assets/facebook.png');
                width: 50px;
                height: 50px;
                cursor: pointer;
                transition: .3s ease-in-out;

                &:hover {
                    background-image: url('../../assets/facebook1.png');
                }
            }

            .instagrame {
                background-image: url('../../assets/instagrame.png');
                width: 50px;
                height: 50px;
                cursor: pointer;
                transition: .3s ease-in-out;

                &:hover {
                    background-image: url('../../assets/instagrame1.png');
                }
            }

            .tiktok {
                background-image: url('../../assets/tik.png');
                width: 50px;
                height: 50px;
                cursor: pointer;
                transition: .3s ease-in-out;

                &:hover {
                    background-image: url('../../assets/tik1.png');
                }
            }

            .linkedin {
                background-image: url('../../assets/link.png');
                width: 50px;
                height: 50px;
                cursor: pointer;
                transition: .3s ease-in-out;

                &:hover {
                    background-image: url('../../assets/link1.png');
                }
            }
        }

        .footName {
            color: $colorC;
            display: flex;
            align-items: center;

            img {
                width: 60px;
            }

            .footNameText {

                .lineFoot {
                    width: 100%;
                    border-bottom: 1px solid $colorC;
                }
            }
        }
    }

    .maxdev {
        background-color: #111111;
        margin-top: 2rem;
        padding: 6px;

        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: center;

        a {
            color: #ffffff;
            text-decoration: none;
        }

        .logoMaxdev {
            width: 30px;
        }
    }
}